

// styles/layout.scss
* > {
  font-family: DIN;
}
.layout {
  @apply h-screen w-full  font-['DIN'];
  background-repeat: repeat;
  background-color: var(--imperial-black);
  &__header {
    @apply fixed top-0 w-full z-50;
    height: 70px;
    // background: linear-gradient(
    //   180deg,
    //   var(--space-gray) 0%,
    //   var(--imperial-black) 100%
    // );
    border-bottom: 2px solid var(--rebel-yellow);
    box-shadow: 0 0 15px rgba(0, 129, 220, 0.3);
  }

  &__sidebar {
    @apply fixed left-0 top-[70px] h-[calc(100vh-70px)]  overflow-y-auto transition-all duration-300 ease-in-out z-40;
    width: 280px;
    background-color: var(--imperial-black);
    border-right: 2px solid var(--rebel-yellow);
    box-shadow: inset -5px 0 15px rgba(0, 129, 220, 0.2);
    &--text{
        color: var(--rebel-yellow);
    }
    &::-webkit-scrollbar {
      width: 8px;
    }

    &::-webkit-scrollbar-track {
      background: var(--space-gray);
    }

    &::-webkit-scrollbar-thumb {
      background: var(--rebel-yellow);
      border-radius: 4px;
    }

    @media (max-width: 768px) {
      @apply -translate-x-full;

      &--open {
        @apply translate-x-0;
      }
    }
  }

  &__main {
    @apply fixed top-[70px] right-0 overflow-y-auto transition-all duration-300 ease-in-out;
    width: calc(100% - 280px);
    height: calc(100% - 70px);
    padding: 24px;
    @media screen and (max-width: 660px) {
      padding: 12px;
    }
    margin-left: 280px;
    // background: var(--imperial-black);

    &::-webkit-scrollbar {
      width: 8px;
    }

    &::-webkit-scrollbar-track {
      background: var(--space-gray);
    }

    &::-webkit-scrollbar-thumb {
      background: var(--rebel-yellow);
      border-radius: 4px;
    }

    @media (max-width: 768px) {
      @apply w-full ml-0;
    }
  }

  &__footer {
    @apply fixed bottom-0 w-full z-50;
    height: 60px;
    background: linear-gradient(
      0deg,
      var(--space-gray) 0%,
      var(--imperial-black) 100%
    );
    border-top: 2px solid var(--rebel-yellow);
    box-shadow: 0 0 15px rgba(0, 129, 220, 0.3);
  }

  &__overlay {
    @apply fixed inset-0 z-30 hidden;
    backdrop-filter: blur(4px);

    @media (max-width: 768px) {
      &--visible {
        @apply block;
      }
    }
  }
}
